
.movie-list{
  display: flex;
  gap:16px;
  flex-wrap: wrap;
  justify-content: space-around;
  height: min-content;
}
.movie-container{
  width: 340px;
}
.movie-poster {
  width: 340px;
  height: 220px;
  object-fit: cover;
}
.movie-name {
  font-size: 18px;
  margin: 0;
}
.movie-summary{
  margin-top: 0;
  width: 320px;
  
  font-size: 16px;
}
.movie-button{
  display: flex;
  gap: 10px;
}

.movie-form-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
}
.toggle-btn{
    margin-top: 20px;
}
 .game-box{
   height:120px;
   width:120px;
   border:2px solid black;
   background-color: rgb(23, 23, 114);
   font-size:90px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor:pointer;
}   
.board{
  display:flex;
  flex-wrap: wrap;
  width:380px;
}
.full-game{
  display: flex;
  align-items: center;
  flex-direction: column;
}