.App {
  text-align: center;
}

.poster-img {
  width: 350px;
  height: 200px;
  object-fit: cover;
}
h3 {
  text-align: start;
  margin-left: 37%;
}
p{
  width: 350px;
  margin-left: 37%;
  text-align: start;
}
button{
  width:90px;
  height: 40px;
  margin: 10px;
  font-size: 19px;
  outline: none;
  border: none;
  background-color: rgb(167, 185, 185);
  border-radius: 4px;
}